body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https: //image.ondacero.es/clipping/cmsimages02/2021/11/29/BE25B78B-3450-4EC9-9204-FDA7BC522DB3/97.jpg?crop=1920,1080,x0,y0&width=1600&height=900&optimize=high&format=webply');
}

h1 {
  color: 15px;
}

.navbar {
  margin-bottom: 80px;
}

.navbar form button {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
}

#user-avatar img {
  width: 80%;
}

#festival-img img {
  width: 80%;
}

#user-dropdown {
  background-color: #6c757d;
  color: white;
}

#navbar-avatar {
  width: 40%;
  border-radius: 50%;
}

.dropdown-btn {
  justify-content: right;
  width: 10%
}

#hola {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
}

.hola {
  text-decoration: none;
  color: white;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 39%;
  bottom: 16%;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}





footer {
  background-color: #6c757d;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%
}

/* .btn-secondary:hover {
  background-color: transparent;
  border-color: transparent;

} */