:root {
  --gray: #6c757d;
  --gray-second: #c1c1c1;
}

body {
  background-color: #c6d3f2;
  background-image:
    radial-gradient(at 93% 54%, hsla(235, 92%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 5%, hsla(251, 72%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 81%, rgb(106, 124, 142) 0px, transparent 50%),
    radial-gradient(at 14% 61%, hsla(208, 92%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 18% 50%, hsla(186, 94%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 97%, hsla(68, 92%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 25%, rgb(72, 85, 114) 0px, transparent 50%);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: cover;
  background-attachment: fixed;
}



.form-text {
  color: black;
}

h1,
h2 {

  font-family: 'Montserrat', sans-serif;
}

.bg-custom {
  background-color: #ffffffa2;
  backdrop-filter: blur(30px);
}

.btn-custom {
  background-color: var(--gray);
  color: #fff;
}

.btn-custom:hover {
  background-color: var(--gray-second);
}

.navbar {
  margin-bottom: 80px;
}

.navbar form button {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
}

#user-avatar img {
  width: 80%;
  border-radius: 30%;
}

#festival-img img {
  width: 80%;
}

.festival-img {
  height: 150px;
}

.festival-img img {
  height: inherit;
  object-fit: cover;
}

#user-dropdown {
  background-color: #6c757d;
  color: white;
}

#navbar-avatar {
  width: 40%;
  border-radius: 50%;
}

.dropdown-btn {
  justify-content: right;
  width: 10%
}

#hola {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
}

.hola {
  text-decoration: none;
  color: white;
}

.enplanImaJ {
  width: 30%;
}

.following-avatars {
  border-radius: 50%;
  width: 5%;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 1%;
  bottom: 8%;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

#map {
  height: 300px;
  border: 5px solid white;
}


.go-back {
  margin-top: 2%;
  margin-bottom: 2%;
}

footer {
  background-color: #6c757d;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.card-img-top {
  width: 100%;
}

/* .btn-secondary:hover {
  background-color: transparent;
  border-color: transparent;

} */