body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https: //image.ondacero.es/clipping/cmsimages02/2021/11/29/BE25B78B-3450-4EC9-9204-FDA7BC522DB3/97.jpg?crop=1920,1080,x0,y0&width=1600&height=900&optimize=high&format=webply');
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar {
  margin-bottom: 80px;
}

.navbar form button {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
  justify-content: right;
}