<div class="container">

    <h2>FESTIVALS LIST</h2>

    <hr>

    <div class="row">

        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="festival">
        <button onclick="miFunc()">Buscar</button>

        <hr>
        {{#each allFestivals}}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>NAME: </strong> {{title}}</h5>
                    <a href="/festivals/{{_id}}" class="btn btn-sm btn-info">Details</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>

    <hr>

    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    {{#if userRole.isAdmin}}
    <a href="/festivals/create" class="btn btn-info mt-3 mb-5">CREATE FESTIVAL</a>
    {{/if}}

</div>

<script src="../../js/festivalFilter.js"></script>