<div class="container">

    <h2>FESTIVALS LIST</h2>

    <hr>
    <div class="row">

        {{#each allFestivals}}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>NAME: </strong> {{title}}</h5>
                    <a href="/festivals/{{_id}}" class="btn btn-sm btn-info">Details</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>

    <hr>

    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    {{#if userRole.isAdmin}}
    <a href="/festivals/create" class="btn btn-info mt-3 mb-5">CREATE FESTIVAL</a>
    {{!-- BOTÓN PARA ELIMINAR (ES UN FORMULARIO DISIMULADO PARA ASEGURAR QUE SEA UN ENDPOINT DE POST, INACCESIBLE A
    TRAVÉS DE LA URL) --}}
    {{/if}}

</div>