<div class="container">

    <h2>FESTIVALS LIST</h2>

    <hr>

    <div class="row">

        <form action="/festivals/list" method="POST" class="d-flex" role="search" enctype="multipart/form-data">

            {{!-- <div class="container">
                <label for="festival">Artista #1</label>
                <input list="festivalResults" id="festival" name="title">
                <datalist id="festivalResults">

                </datalist>
            </div> --}}

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <hr>
        {{#each allFestivals}}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>NAME: </strong> {{title}}</h5>
                    <a href="/festivals/{{_id}}" class="btn btn-sm btn-info">Details</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>

    <hr>

    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    {{#if userRole.isAdmin}}
    <a href="/festivals/create" class="btn btn-info mt-3 mb-5">CREATE FESTIVAL</a>
    {{/if}}

</div>

<script src="/js/dom.js"></script>