<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h2 class="text-white">FESTIVALS LIST</h2>
        </div>
        {{!-- <div class="col-md-4">
            {{#if userRole.isAdmin}}
            <a href="/festivals/create" class="btn btn-info mt-3 mb-5">CREATE FESTIVAL</a>
            {{/if}}
        </div> --}}

        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Enter the Festival"
                    aria-label="Enter the Festival" aria-describedby="button-addon2" id="festival">
                <button onclick="miFunc()" class="btn btn-secondary" type="button" id="button-addon2">Search</button>
            </div>

        </div>
        {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="festival">
        <button onclick="miFunc()">Buscar</button> --}}

        <div class="row">
            <hr>
            {{#each allFestivals}}
            <div class="col-12 col-md-3 mb-3 ">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="body-text mb-5">
                            <h5 class="card-title"><strong>NAME: </strong></h5>
                            <p>{{title}}</p>
                        </div>

                        <a href="/festivals/{{_id}}" class="btn btn-custom">Details</a>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>

        <hr>

    </div>

    <script src="../../js/festivalFilter.js"></script>
</div>