<div class="container">

    <h1 class="text-white">
        {{user.username}}
    </h1>

    <hr>
    <div class="row">
        <div class="col-12 col-md-3">
            <img src={{user.avatar}} class="my-festivals-avatar" alt="">
            <div class="group d-flex flex-row align-items-center my-3">
                <p class="text-center mb-0"><a href="/users/list" class="btn btn-custom">Go back</a></p>
            </div>
        </div>
        <div class="col-12 col-md-9">

            <div class="row">
                {{#each user.festivals}}
                <div class="col-12 col-md-3 mb-3">

                    <div class="card h-100 ">
                        <div class="festival-img">

                            <img src="{{imagFest}}" class="card-img-top" alt="...">

                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>

                        </div>
                    </div>

                </div>
                {{/each}}
            </div>


        </div>

    </div>
    <hr>



</div>